* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: papayawhip;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    border: 3px solid peachpuff;
    margin: 20px auto;
    width: 85%;
    padding: 10px;
    background-color: white;
    font-size: 1.6rem;
}

h1{
    text-align: center;
    color: hotpink;
    background-color: white;
}

p{
    text-align: justify;
    color: pink;
    background-color: white;
}

header {
    background-color: peachpuff;
    height: 40px;
    padding: 6px;
    font-size: 1.6rem;

}

a {
    color: hotpink;
    text-decoration: none;
    background-color: peachpuff;
}

a:hover {
    color: white;
}

a:active {
    color: hotpink;
}

footer p {
    background-color: peachpuff;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    height: 40px;
    width: 100%;
}